body{
    margin:0;
}
#map{
    height: 600px;
    width:100vw;
    display: inline-block;
}

.sequence-control-container {  
    width: 500px;  
    height: 30px;  
    background-color: rgba(255,255,255,0.8);  
    padding: 10px;  
    line-height: 45px;  
    text-align: center;  
    border: solid gray 1px;  
}  

.legend-control-container {
    width: 130px;  
    height: 150px;  
    background-color: rgba(255,255,255,0.8);  
    padding: 10px;  
    line-height: 45px;  
    text-align: center;  
    line-height: 0px;
    border: solid gray 1px;
}

.range-slider {  
    width: 250px;  
}  
    

#forward {
    float: right;
    
}
#reverse {  
    float: left; 
     
}

.leaflet-popup-content p {
    margin: 0.2em 0;
}
