body{
    margin:0;
}
#map{
    height: 600px;
    width:100vw;
    display: inline-block;
}
#panel {    
    width: 40%;    
    padding: 40px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 62px;
}
.range-slider {  
    width: 50%;  
}  
    
.step {  
    width: 50%;  
}  
#forward {
    float: right;
}
#reverse {  
    float: left;  
}

.leaflet-popup-content p {
    margin: 0.2em 0;
}
